<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
   
    <script src="vue.global.js"></script>
    <title>Title</title>
  </head>
  <body>
    <div class="container">     

      <div id="app">
        <input type="text" v-model="mobile" placeholder="Enter 11 digit phone number">
       <hr>
       <input
        type="text" 
        v-model="firstname" 
        placeholder="Enter firstname"
        ><hr>

        <input 
        type="text" 
        v-model="lastname" 
        placeholder="Enter lastname"
        >

      </div>
     
    </div>
    
    <script src="app.js"></script>
  </body>
</html>
