<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
   
    <script src="vue.global.js"></script>
    <title>Title</title>
  </head>
  <body>
    <div class="container">
      <h2>VueJs Bangla Tutorial</h2>

      <div id="app">
        <h3>Skills</h3>
        <input type="text" v-model="newSkill" /> &nbsp
        <button class="btn btn-success" @click="addSkill">Add Skill</button>
        <ul style="list-style: none;">
          <li v-for="(skill , i) in skills" @click="removeItem">{{ i +1 }}. {{ skill }}</li>
        </ul>
      </div>  

    </div>
    
    <script src="app.js"></script>
  </body>
</html>
