

.red {
    width: 100px;
    height: 50px;
    background-color: red;
}
.green {
    width: 100px;
    height: 50px;
    background-color: green;
}
.blue {
    width: 100px;
    height: 50px;
    background-color: blue;
}